@page
@model PersonalSite.Pages.Feedback.SuccessModel
@{
	ViewData["Title"] = "Thank you!";
}

<h1 class="display-1">Thank You! :) </h1>
<h1 class="lead">Your feedback was successfully submitted.</h1>
<a asp-page="/Index" class="btn btn-primary">Home</a>